#main {
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	width: 100%;
	padding: 1vh;
}

#editor {
	height: 80vh;
	width: 50%;
	margin-top: 0;
}
#preview {
	height: 80vh;
	width: 50%;
}

@media only screen and (max-width: 992px) {
	#main {
		flex-direction: column;
	}
	#editor {
		height: 50vh;
		width: 95%;
		margin-top: 2.5vh;
	}
	#preview {
		width: 95%;
	}
}
